/*///////////////// GENERALES /////////////////*/

body {
 font-family: 'Lato',
 sans-serif;
}

a:hover {
   text-decoration: none;
}


h1 {
   font-size: 56px;
   font-weight: 700;
   line-height: 1;
   letter-spacing: -2px;
}

h2 {
   font-size: 48px;
   font-weight: 700;
   line-height: 1;
   letter-spacing: -2px;
}

h3 {
   font-size: 40px;
   font-weight: 700;
   line-height: 1;
}

h4 {
   font-size: 36px;
   font-weight: 700;
   line-height: 1;

}

h5 {
   font-size: 28px;
   line-height: 1;

}

.light-blue {
   color: #2dbee6
}

.green {
   color: #cbde12
}

.deep-blue {
   color: #2e303d
}

.border-bottom {
   border-bottom: 1px solid rgba(255, 255, 255, 0.192) !important;
}

.buttons {
   font-family: 'Lato', sans-serif;
   border-radius: 26px;
   font-size: 18px;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 35px;
   transition: all 150ms ease-out
}

.buttons:hover {
   transform: translateY(-5px)
}

.primary-buttons {
   background: #2dbee6;
   border: 2px solid #2dbee6;
   color: white;
}

.secondary-buttons {
   color: white;
   border: 2px solid white
}

.links-buttons {
   color: #2dbee6;
   text-decoration: underline;
}

.white-buttons {
   background: #fff;
}

/*///////////////// HEADER /////////////////*/

header {
   position: absolute;
   z-index: 10;
   width: 100%;
}

.header-logo {
   width: 85%
}

.top-nav {
   border-bottom: 1px solid rgba(255, 255, 255, 0.192);
}

/* Navegador inicio/empresa/ubicación */

.top-nav-list {
   display: flex;
   padding-left: 0;
   margin-bottom: 0;
   list-style: none !important;
}

.top-nav-list li {
   padding-right: .7rem !important;
   padding-left: .7rem !important;
   font-size: 14px;
   font-weight: 200;
   transition: .3s
}

.top-nav-list li a {
   transition: .3s
}

.top-nav-list li a:hover {
   color: #cbde12 !important
}

/* Navegador principal */

.nav-link {
   color: white !important;
   padding: .4rem 0rem !important;
   margin-right: 1.4rem !important;
   margin-left: 1.4rem !important;
   font-weight: 500;
   position: relative;
}

.nav-link:after {
   background: none repeat scroll 0 0 transparent;
   bottom: 0;
   content: "";
   display: block;
   height: 2px;
   left: 50%;
   position: absolute;
   background: #2dbee6;
   transition: width 0.3s ease 0s, left 0.3s ease 0s;
   width: 0;
}

.nav-link:hover:after {
   width: 100%;
   left: 0;
}

/* Bs nav para el menú mobile */

.bsnav-mobile .navbar {
   left: 0 !important;
   color: #fff !important;
   transform: translate3d(-300px, 0, 0) !important;
}

.bsnav-mobile.in .navbar {
   transform: translate3d(0px, 0, 0) !important;
}

.bsnav-mobile .navbar.bsnav-dark {
   background: #2e303d !important;
   color: #fff !important;
   border-bottom: 4px solid #cbde12;
   padding: 0px 0 15px;
   box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
   -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
   -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
}

.bsnav-sticky {
   top: 0;
   padding: 15px 10px !important;
}

.bg-onscroll {
   background: #2e303d !important;
   padding: 15px 25px !important;
}

/*///////////////// MAIN /////////////////*/

.main {
   min-height: 100vh;
   display: flex;
   align-items: center;
   position: relative;
   overflow: hidden;
}

.main h1 {
   padding: 0px 240px
}

.main-bg-deco {
   position: absolute;
   bottom: 0;
   width: 100%;
}

/* Video de fondo */

.main-video-container {
   position: absolute;
   top: 0;
   z-index: -5;
   background-color: #fff;
   width: 100%;
   min-height: 100vh;
}

.main-video {
   width: 100%;
   position: absolute;
   bottom: 0;
   height: 100%;
   object-fit: cover;
}

.main-image {
   position: absolute;
   top: 0;
   left: 0;
   mix-blend-mode: screen;
}

/*///////////////// PRODUCTOS /////////////////*/

.articles-home {
   height: auto;
   padding: 100px 0px;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   font-family: 'Lato',
      sans-serif;
      overflow-x: hidden !important; 
}

.top-titles {
   color: #afb6b9;
   font-weight: 700;
   padding-left: 60px;
}

.top-titles::before {
   content: "";
   width: 50px;
   height: 3px;
   background-color: #2dbee6;
   position: absolute;
   margin-top: 10px;
   margin-left: 15px;
   left: 0
}

.products-list {
   padding-left: 0;
}

.products-list li {
   list-style: none
}

.products-list li::before {
   font-family: "FontAwesome";
   font-weight: 400;
   content: "\f00c";
   color: #2dbee6;
   margin-right: 10px;
}

.microscopia {
   background-image: url(../images/microscopia.jpg);
   background-position: left center;
}

.laboratorios {
   background-image: url(../images/laboratorios.jpg);
   background-position: left center;
}

.almacenamiento {
   background-image: url(../images/almacenamiento.jpg);
   background-position: left center;
}

/*///////////////// REPRESENTANTES /////////////////*/

.representantes {
   background: #2dbee6;
   position: relative;
   min-height: 700px;
   overflow: hidden;
   display: flex;
   align-items: center;
   z-index: -5;
   overflow-x: hidden !important;
}

.bg-img {
   position: absolute;
   height: -webkit-fill-available;
   bottom: 0;
   right: 0;
   z-index: -1;
}

.representantes-container {
   background: #fff;
   padding: 25px;
   border-radius: 25px;
   box-shadow: 1px 1px 13px -3px rgba(0, 0, 0, 0.28);
   -webkit-box-shadow: 1px 1px 13px -3px rgba(0, 0, 0, 0.28);
   -moz-box-shadow: 1px 1px 13px -3px rgba(0, 0, 0, 0.28);
}

.company-container {
   background: #fff;
   border-radius: 10px;
   box-shadow: 1px 1px 13px -3px rgba(0, 0, 0, 0.28);
   -webkit-box-shadow: 1px 1px 13px -3px rgba(0, 0, 0, 0.28);
   -moz-box-shadow: 1px 1px 13px -3px rgba(0, 0, 0, 0.28);
   height: 120px;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

/*///////////////// SERVICIO TECNICO /////////////////*/

.servicio-tecnico {
   background-image: url(../images/aside-bg.jpg);
   padding: 60px 0px;
   background-size: cover;
   background-repeat: no-repeat;
}

/*/////////////////  CLIENTES /////////////////*/

.clientes {
   background-image: url(../images/clientes.jpg);
   padding: 60px 0px;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 600px;
   position: relative;
   display: flex;
   align-items: center;
}

.clientes p {
   font-size: 20px;
   font-weight: 300;
}

.carousel-logos {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: -70px
}

.owl-carousel {
   background: white;
   border-radius: 30px;
   display: flex !important;
   align-items: center;
   padding: 10px 50px;
   height: 140px;
   box-shadow: 5px 5px 23px -13px rgba(0, 0, 0, 0.18);
   -webkit-box-shadow: 5px 5px 23px -13px rgba(0, 0, 0, 0.18);
   -moz-box-shadow: 5px 5px 23px -13px rgba(0, 0, 0, 0.18);
}

.logo-item {
   padding: 50px;
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.owl-nav {
   position: absolute;
   top: 40%;
   left: 0;
   right: 0;
   padding: 0px 20px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

/*/////////////////  CONTACTO /////////////////*/

.contacto {
   background-image: url(../images/contacto-bg.png);
   padding: 170px 0px 100px 0px;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 650px;
   display: flex;
   align-items: center;
}

.form-control {
   border-radius: 10px;
   font-size: 14px;
}

.form-control:focus {
   border: 1px solid #2dbee6;
   box-shadow: none
}

/*/////////////////  CAPACITACIóN /////////////////*/

.capacitacion {
   background-image: url(../images/aside-blue-bg.jpg);
   padding: 60px 0px;
   background-size: cover;
   background-repeat: no-repeat;
}

/*/////////////////  FOOTER /////////////////*/

footer {
   background: #2e303d;
   padding: 60px 0px;
   position: relative;
   font-family: 'Lato',
      sans-serif;
}

footer h6 {
   color: #fff;
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 35px;
}

footer h6::before {
   content: "";
   width: 55px;
   height: 3px;
   background-color: #cbde12;
   position: absolute;
   margin-top: 35px
}

footer ul {
   padding-left: 0px;
}

footer ul li {
   list-style: none;
   padding-left: 0px;
   margin: 10px 0px;
}

footer a,
footer p {
   color: #b2b5c7;
   font-weight: 300;
   transition: .3s
}

footer a:hover,
.social-media-links a:hover {
   color: #cbde12 !important
}

.social-media-links a:hover {
   transform: scale(1.1);
}

.social-media-links {
   color: #b2b5c7;
   font-size: 18px;
}

.contact-items {
   display: grid;
}

.contact-phone {
   font-size: 18px;
   font-weight: 500;
   color: #fff;
}

.contact-mail {
   font-size: 16px;
   font-weight: 300;
   color: #fff;
}

.copyright {
   background: #272934;
   color: #b2b5c7;
   font-size: 14px;
   font-weight: 300;
   padding: 10px 0px;
   position: absolute;
   bottom: 0;
   width: 100%
}

/*/////////////////  RESPONSIVE /////////////////*/

@media (max-width: 1440px) {
   .logo-item {
      padding: 20px
   }

   .almacenamiento,
   .microscopia {
      background-position: center;
      background-position-x: -120px;
   }

   .laboratorios {
      background-position-x: -100px;
   }
   .bg-img {
      width: 85%;
      margin-right: -150px;
   }
}

@media (max-width: 1024px) {
   .main h1 {
      padding: 0px;
      font-size: 52px;
   }

   .contact-info-items {
      font-size: 14px
   }

   .articles-home {
      padding: 50px 0px;
   }

   .almacenamiento,
   .microscopia {
      background-position: center;
      background-position-x: -250px;
   }

   .laboratorios {
      background-position-x: -140px;
   }

   .bg-img {
      width: 95%;
      margin-right: -150px;
   }

   .logo-item {
      padding: 30px;
   }
}

@media (max-width: 768px) {

   .contact-info-items {
      font-size: 14px;
      flex-wrap: wrap;
   }

   .contact-info-items a:last-child {
      margin-left: 0px !important;
   }

   .articles-home {
      padding: 70px 0px;
   }

   .microscopia {
      background-image: none;
      background: rgb(223, 234, 238);
      background: linear-gradient(90deg, rgba(223, 234, 238, 1) 30%, rgba(234, 242, 243, 1) 100%);
   }

   .laboratorios {
      background-image: none;
      background: rgb(236, 236, 236);
      background: linear-gradient(90deg, rgba(236, 236, 236, 1) 30%, rgba(239, 240, 242, 1) 100%);
   }

   .almacenamiento {
      background-image: none;
      background: rgb(231, 231, 233);
      background: linear-gradient(90deg, rgba(231, 231, 233, 1) 30%, rgba(229, 229, 229, 1) 100%);
   }

   .representantes {
      min-height: 600px
   }
    .logo-item {
       padding: 10px;
    }

   .clientes {
      background-position: top;
      min-height: 550px;
   }

   footer ul li {
      font-size: 15px
   }

}

@media (max-width: 525px) {

   h1,
   h2,
   h3 {
      letter-spacing: -2px;
   }

   .main h1 {
      padding: 0px;
      font-size: 42px;
   }

   .buttons {
      font-size: 14px;
      padding: 10px 25px;
   }

   h2 {
      font-size: 38px;
   }

   h3 {
      font-size: 28px;
   }

   h4 {
      font-size: 25px;
   }

   h5 {
      font-size: 21px;
   }

   .responsive-center {
      justify-content: center !important;
      text-align: center;
   }

   .responsive-reset {
      padding: 0px
   }

   .navbar-brand {
      width: 80%;
   }

   .navbar-mobile .nav-item .nav-link {
      color: #fff !important;
   }

   .nav-link {
      margin-left: 0px !important
   }

   .contact-info-items {
      flex-wrap: wrap;
      position: absolute;
      bottom: 0;
      padding-bottom: 15px;
   }

   .contact-info-items a {
      transition: .3s
   }

   .contact-info-items a:hover {
      color: #2dbee6 !important
   }

   .servicio-tecnico,
   .articles-home,
   .capacitacion,
   footer {
      text-align: center;
   }

   .main-image {
      margin-left: -400px;
   }

   .top-titles {
      padding-left: 0px;
   }

   .top-titles::before {
      margin: 0 auto;
      margin-top: -5px;
      left: 0;
      right: 0;
   }

   .owl-carousel {
      height: 190px;
   }
   .logo-item {
      padding: 25px;
   }

   .representantes {
      min-height: 600px;
   }

   .bg-img {
      width: 100%;
      margin-right: 0px;
   }

   .representantes-container {
      padding: 15px;
      margin-top: 100px;
   }

   .company-container {
      height: 105px;
      padding: 10px;
   }

   .contacto {
      padding: 120px 0px 70px 0px;
   }

   footer h6::before {
      left: 0;
      right: 0;
      margin: 0 auto;
      margin-top: 35px;
   }

   .footer-logo {
      width: 60%
   }

}

@media (max-width: 320px) {
   .top-nav-list li {
      padding-right: 0rem !important;
      padding-left: .4rem !important;
      font-size: 13px;
   }
    .company-container {
       height: 75px;
       padding: 10px;
    }
    .logo-item {
       padding: 25px;
    }
}